// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag:none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}

input::-webkit-inner-spin-button {
    
    -webkit-appearance: none !important;
    margin: 0; 
}
.intro{
    text-align:center;
    padding-top:60px;
    .heading{
        max-width:85px;
        margin:0 auto;
        @include xs{
            h3{
                font-size:14px;
            }
        }
      
    }
    .title{
        font-size:var(--h2-fs);
        font-family: pb;
        line-height:var(--hs-lh);
        letter-spacing: 0.3em;
        text-transform:uppercase;
        margin-top:30px;
        margin-bottom:25px;
        @include xs{
            font-size:20px;
            margin-bottom:31px;
        }
        h2{
            display:inline;
            background-color:$yellow-cl;
            color:#525355;
        }
    }
    .desc{
        max-width:770px;
        margin:0 auto;
        @include xs{
            display:none;
        }
        p{
            position:relative;
            padding-bottom:53px;
            margin-bottom:45px;
            &::after{
                content:'';
                width:324px;
                height:1px;
                background-color:$black-cl;
                @include absoluteCenter(left);
                bottom:0;
            }
        }
        strong{
            font-family: pb;
            color:#171717;
        }
    }
}
.menu{
    padding-top:45px;
    @include xs{
        display:none;
    }
    &__item-wrap{
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-family:pb;
        border-bottom:1px solid $black-cl;
        padding-bottom:20px;
        a{
            color:$black-cl;
        }
        .center{
            &__item{
                display:flex;
                align-items: center;
                margin-left:-60px;
                li{
                    &:not(first-child){
                        margin-left:60px;
                        width:calc(25% -60px);
                    }
                    
                }
            }

        }
    }
}
.contact{
        @include xs{
            border-top: 1px solid $black-cl;
        }
    .contact__item {
      &-wrap{ 
        padding-left: 20px;
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: 1px solid $black-cl;
        @include xs{
            border-top:none;
        }
        text-transform:uppercase;
        @include xs{
            display:block;
            text-align: center;
        }
      }
   
     &-left {
        max-width: 249px;
        @include xs{
            max-width:unset;
        }
        p{
            line-height:3.48rem;
        }
    
        .tele{
            padding-top:33px;
            @include xs{
                span{
                    margin-left:35px;
                }
            }
        }
         
      }
  &-right {
     
        max-width: 255px;
        letter-spacing:0.1em;
        line-height:3.48rem;
        @include xs{
            max-width:unset;
            display:none;
        }
      }
     &-mobile {
        display: none;
        @include xs{
            display:block;
        }
      }
    }
  }
.hidden{
    display:none;
}
.pd{
    padding-top:var(--ptop);
    padding-bottom:var(--pbot);
}
// .--white-cl {
//     color: $white-cl;
// }
// .--black-cl {
//     color: $black-cl;
// }
// .--blue-cl {
//     color: $blue-cl;
// }
h3{
    @include text(var(--h1-fs),pr,var(--h1-lh),$black-cl,uppercase);
    letter-spacing:0.2em;
}

// css article (nội dung chi tiết bài viết)
article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // font-family: ib; // font bold
        display: block;
    }
    h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
        margin: 0 0 0.67rem 0;
    }
    h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
        margin: 0 0 0.75rem 0;
    }
    h3 {
        font-size: var(--h3-fs);
        line-height: var(--h3-lh);
        margin: 0 0 0.83rem 0;
    }
    h4 {
        font-size: var(--h4-fs);
        line-height: var(--h4-lh);
        margin: 0 0 1.12rem 0;
    }
    h5 {
        font-size: var(--h5-fs);
        line-height: var(--h5-lh);
        margin: 0 0 1.5rem 0;
    }
    h6 {
        font-size: 0.67rem;
        margin: 0 0 1.67rem 0;
    }

    p {
        margin: 0 0 1.12rem 0;
    }
    strong {
        // font-family: ib; // font bold
    }
    ol,
    ul {
        list-style: initial;
        padding-left: 18px;
    }
    img {
        display: inline-block;
        height: auto;
        overflow: hidden;
        border-radius: 10px;
        margin: 25px auto;
    }
    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 25px auto;
        iframe,
        video {
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
        }
    }
    @include xs {
        img {
            margin: 20px auto;
        }
    }
}

.heading {
    font-family: ib;
    &.--h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
    }
    &.--h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
    }
}


.product{
    &-tab{
        text-align:center;

        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:-40px;
        margin-bottom:20px;
        @include xs{
            display:none;
            
        }
        a{
            &:not(first-child){
                margin-left:40px;
                color:$black-cl;
                font-family: pb;
                text-transform:uppercase;
                opacity: 0.5;
            }
            &.active{
               opacity:1;
            }
        }
    }
    &-list{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
        @include xs{
            display:block;
        }
    }
    &-image{
        height:0;
        position:relative;
        overflow: hidden;
        padding-bottom:60%;
        &:before {
            content: "";
             @include size(100%);
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black-cl;
            opacity: 0;
            z-index: 10;
            pointer-events: none;
            @include transition($t);
          }
          &:hover{
            img { 
              @include transform(translate(-50%, -50%) scale(1.05));
              @include transition($t);
           
            }
            &:before {
              opacity: 0.4;
              @include transition($t);
            }
          }
        img{
            @include midimg;
            @include transform(translate(-50%, -50%) scale(1));
        }
    }
    &-item{
        margin-bottom:70px;
       
    }
    &-content{
        text-align:center;
    }
    &-title{
        margin-top:40px;
        p{
            text-transform: uppercase;
            font-family: pb;
            position: relative;
            padding-bottom:5px;
            margin-bottom:10px;
            &::after{
                content:'';
                @include size(16px,3px);
                background-color: $yellow-cl;
                @include absoluteCenter('left');
                bottom:0;
            
            }
        }
    }
    &-client,.product-photo,.product-director{
        font-family: pr;
        color:$black-cl;
        span{
            font-style: italic;
        }
    }
    .more-products{
        text-align:center;
        padding-bottom:75px;
        @include xs{
            padding-bottom:23px;
        }
        a{
            color:$black-cl;
           text-transform: uppercase;
           font-family: pb;
           line-height:3.48rem;
        }
    }
}


.book-now{
    @include size(100px);
    background-color: $gray-cl;
    border-radius:10px;
 display:flex;
 align-items: center;
 justify-content: center;
 margin:0 auto;
    margin-top:12px;
    h3{
        color:$yellow-cl;
        font-size:24px;
        font-family: pb;
        text-align:center;
        max-width: 85px;
    }
}