// css navigator (Menu)
// css navigator (Menu)
@include sm {
  header {
    .nav {
      width: 100vw;
      height: calc(100vh - var(--height-header));
      background-color: $yellow-cl;
      position: fixed;
      top: var(--height-header);
      left: 0;
      z-index: 10;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 100;
      opacity: 0;
      color: $black-cl;
      @include transform(translateX(-100%));
      @include transition(0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67));
      &.active {
        opacity: 1;
        pointer-events: auto;
        @include transition($t);
        @include transform(translateX(0%));
      }
      ul {
        @include transform(translateY(-10%));
        li {
          padding: 10px 0;
        }
      }
      a {
        text-transform: uppercase;
        color: $black-cl;
        font-family: pb;
        font-size: 16px;
        &:hover {
          color: $white-cl;
        }
      }
    }
    .btnMenu {
      &.active {
        &::before {
          @include transform(rotate(45deg) translate(35%, -50%));
          @include transition($t);
        }

        &::after {
          @include transform(rotate(-45deg) translate(27%, -24%));
          @include transition($t);
        }
        .toggle {
          opacity: 0;
          @include transition($t);
        }
      }
    }
  }
}
