.aboutwrapper{
    .intro{
        .content{
            .title{
                font-size:36px;
                color:$yellow-cl;
                letter-spacing: 0.6em;
                max-width:330px;
            }
        }
    }
}