.cafewrapper{
    .menu__item-wrap{
        border-bottom:0;
    }
    .intro{
        padding-top:0;
        position:relative;  
        .content{
            @include absoluteCenter('both');
            .heading{
               h3{
                color:$yellow-cl;
               } 
            }
            .title{
                h2{
                    background-color:transparent;
                    color:$yellow-cl;
                }
            }
            .desc{
                p{
                    color:$white-cl;
                }
            }
        }
    }
}