.cafewrapper {
  .menu__item-wrap {
    border-bottom: 0;
  }
  .intro {
    background: url(../../../img/img-cafe-banner.png) no-repeat center / cover;
    max-height: 464px;
    background-attachment: fixed;
    @include xs {
      background-attachment: unset;
      height: 100vh;
      background-position: 34% 50%;
    }
    @include sm {
      background-attachment: unset;
      height: 100vh;
      background-position: 34% 50%;
    }
    @include xs {
      padding-top: 1px;
    }
    position: relative;
    .content {
      margin-top: 33px;

      .heading {
        h3 {
          color: $yellow-cl;
        }
      }
      .title {
        h2 {
          background-color: transparent;
          color: $yellow-cl;
        }
      }
      .desc {
        p {
          strong {
            color: $white-cl;
          }
          color: $white-cl;
          &::after {
            background-color: $yellow-cl;
          }
          margin-bottom: 22px;
        }
        @include xs {
          display: block;
        }
      }
      .gallery {
        p {
          text-transform: uppercase;
          color: $white-cl;
          font-family: pr;
          letter-spacing: 0.2em;
          padding-bottom: 32px;
        }
      }
    }
  }
  // .slider {
  //   // margin-top:-7px;
  //   background-color: #19191a;
  //   padding-bottom: 80px;
  //   // .slider__carousel {
  //   //   &.flickity-viewport {
  //   //     height: 100% !important;
  //   //   }
  //   // }
  //   &__item-wrap {
  //     &.is-selected {
  //       width: 100% !important;
  //       height: 100% !important;
  //     }
  //     display: grid;

  //     grid-template-columns: repeat(2, 1fr);
  //     grid-template-rows: 240px 240px;
  //     grid-column-gap: 20px;
  //     grid-row-gap: 20px;
  //     grid-template-areas:
  //       "h1 h2 h2"
  //       "h1 h3 h4";
  //     @include xs {
  //       grid-template-columns: unset;
  //       grid-template-areas:
  //         "h2"
  //         "h3"
  //         "h4";
  //     }
  //     @include sm {
  //       grid-template-columns: unset;
  //       grid-template-areas:
  //         "h2"
  //         "h3"
  //         "h4";
  //     }
  //     margin-bottom: 20px;
  //   }
  //   &__item {
  //     position: relative;
  //     @include xs {
  //       margin-top: 20px;
  //     }
  //     &:before {
  //       content: "";
  //       @include size(100%);
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       background-color: $black-cl;
  //       opacity: 0;
  //       z-index: 10;
  //       pointer-events: none;
  //       @include transition($t);
  //     }

  //     &:hover {
  //       .full {
  //         opacity: 1;
  //         @include transition($t);
  //       }
  //     }
  //     &:first-child {
  //       grid-area: h1;
  //       @include xs {
  //         display: none;
  //       }
  //       @include sm {
  //         display: none;
  //       }
  //     }
  //     &:last-child {
  //       grid-area: h4;
  //     }
  //     &:nth-child(2) {
  //       grid-area: h2;
  //     }
  //     &:nth-child(3) {
  //       grid-area: h3;
  //     }
  //     .img-cafe {
  //       width: 100%;
  //       height: 100%;
  //       //   @include midimg;
  //     }
  //     .full {
  //       display: flex;
  //       align-items: baseline;
  //       position: absolute;
  //       margin-left: 10px;
  //       bottom: 0;
  //       left: 0;
  //       opacity: 0;
  //       &-btn {
  //         @include size(30px);
  //         background-color: $yellow-cl;
  //         position: relative;
  //         a {
  //           display: block;
  //           @include absoluteCenter("both");
  //           margin-top: 3px;
  //         }
  //       }
  //       p {
  //         padding-left: 10px;
  //         font-family: pr;
  //         font-size: 12px;
  //         color: $white-cl;
  //       }
  //     }
  //   }
  //   &__control {
  //     display: flex;
  //     justify-content: flex-end;
  //     color: $yellow-cl;
  //     margin-top: 40px;
  //     @include xs {
  //       justify-content: center;
  //     }
  //     @include sm {
  //       justify-content: center;
  //     }
  //     .btn {
  //       display: flex;
  //       align-items: center;
  //       img {
  //         filter: invert(69%) sepia(96%) saturate(531%) hue-rotate(2deg)
  //           brightness(108%) contrast(102%);
  //       }
  //       p {
  //         font-size: 12px;
  //         font-family: pr;
  //       }
  //       &.--prev {
  //         padding-right: 20px;
  //         p {
  //           margin-left: 20px;
  //         }
  //       }
  //       &.--next {
  //         padding-left: 20px;
  //         position: relative;
  //         &::before {
  //           content: "";
  //           @include size(1px, 55%);
  //           background-color: $yellow-cl;
  //           @include absoluteCenter("left");
  //           left: 0;
  //         }

  //         p {
  //           margin-right: 20px;
  //         }
  //       }
  //     }
  //   }
  // }
  .cafe__image {
    background-color: #19191a;
    .container {
      position: relative;
      .wrap__imge {
        height: 600px;
        .gallery__carousel {
          scroll-behavior: smooth;
          height: 100%;
          width: 100%;
          .carousel-img {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 300px 300px;
            column-gap: 20px;
            gap: 20px;
            @include xs {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: 300px 300px 300px;
            }
            .item {
              position: relative;
              cursor: pointer;
              overflow: hidden;
              &.item1 {
                &:hover {
                  .cafe__image-fullscreen {
                    opacity: 1;
                  }
                }
              }

              a {
                img {
                  position: absolute;
                  min-width: 100%;
                  min-height: 100%;
                  object-fit: cover;
                  top: 50%;
                  left: 50%;
                  @include transform(translate(-50%, -50%) scale(1));
                  @include transition($t);
                }
                &:before {
                  content: "";
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  background-color: $black-cl;
                  opacity: 0;
                  z-index: 1;
                  @include transition($t);
                }
                &:hover {
                  img {
                    @include transform(translate(-50%, -50%) scale(1.05));
                    @include transition($t);
                  }
                  &:before {
                    opacity: 0.5;
                    transition: ($t);
                  }
                }
              }
              &.item1 {
                grid-column: 1/2;
                grid-row: 1/3;
                @include xs {
                  display: none;
                }
              }
              &.item2 {
                grid-column: 2/4;
                grid-row: 1/2;
                @include xs {
                  grid-column: 1/2;
                  grid-row: 1/2;
                }
              }
              &.item3 {
                grid-column: 2/3;
                grid-row: 2/3;
                @include xs {
                  grid-column: 1/2;
                  grid-row: 2/3;
                }
              }
              &.item4 {
                grid-column: 3/4;
                grid-row: 2/3;
                @include xs {
                  grid-column: 1/2;
                  grid-row: 3/4;
                }
              }
            }
          }
        }
        .is-selected {
          width: 100%;
          transition: ($t);
        }
      }

      // .cafe__image-fullscreen {
      //   position: absolute;
      //   bottom: 30px;
      //   left: 10px;
      //   display: flex;
      //   align-items: end;
      //   z-index: 2;
      //   opacity: 0;
      //   @include xs {
      //     display: none;
      //   }
      //   .image {
      //     // background-color: $yellow-cl;
      //     max-width: 30px;
      //     max-height: 30px;
      //     // padding: 10px;
      //     cursor: pointer;
      //     background-color: $yellow-cl;
      //     img {
      //       padding: 10px;
      //     }
      //   }
      //   p {
      //     // color: $red-light-cl;
      //     margin-left: 10px;
      //     font-size: 12px;
      //     font-family: pr;
      //   }
      // }
      .cafe__image-fullscreen {
        position: absolute;
        top: 550px;
        left: 30px;
        display: flex;
        align-items: end;
        z-index: 2;
        opacity: 0;
        @include xs {
          display: none;
        }
        .image {
          max-width: 30px;
          max-height: 30px;

          cursor: pointer;
          background-color: $yellow-cl;
          img {
            padding: 10px;
          }
        }
        p {
          // color: $red-light-cl;
          margin-left: 10px;
          font-size: 12px;
          font-family: pr;
          color: $white-cl;
        }
      }

      .controls {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        padding-bottom: 80px;
        @include xs {
          justify-content: center;
        }
        @include sm {
          justify-content: center;
        }
        .button {
          display: flex;
          align-items: center;
          background-color: transparent;
          outline: none;
          border: unset;
          cursor: pointer;
          &.--next {
            p {
              position: relative;
              padding-left: 20px;
              &:before {
                content: "";
                @include size(1px, 100%);
                background-color: $yellow-cl;
                @include absoluteCenter("left");
                left: 0;
              }
            }
          }
          p {
            // @include textdes;
            color: $yellow-cl;
          }
          // .pre {
          //   border-right: 1px solid $yellow-cl;
          // }
          .icon {
            fill: $yellow-cl;
            transform: rotate(90deg);
          }
          .icon1 {
            fill: $yellow-cl;
            transform: rotate(275deg);
          }
        }
      }
    }
  }
  .career {
    text-align: center;
    padding-bottom: 100px;
    h4 {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-top: 60px;
      margin-bottom: 14px;
    }
    .desc {
      max-width: 459px;
      margin: 0 auto;
      line-height: 22px;
    }
  }
  .contact {
    @include xs {
      padding-bottom: 50px;
    }
  }
}
