.cafewrapper{
    .menu__item-wrap{
        border-bottom:0;
    }
    .intro{
        .banner-main{
            // position:relative;
            // overflow:hidden;
            // height:0;
            // padding-bottom:80%;
            img{
                height:371px;
            }
        }
        padding-top:0;
        position:relative;  
        .content{
            @include absoluteCenter('both');
            margin-top:33px;
          
            .heading{
               h3{
                color:$yellow-cl;
               } 
            }
            .title{
                h2{
                    background-color:transparent;
                    color:$yellow-cl;
                }
            }
            .desc{
                p{
                    strong{
                        color:$white-cl;
                    }
                    color:$white-cl;
                    &::after{
                        background-color:$yellow-cl;
                    }
                    margin-bottom:22px;
                }
            }
            .gallery{
             
                p{
                    text-transform: uppercase;
                    color:$white-cl;
                    font-family: pr;
                    letter-spacing: 0.2em;
                    padding-bottom:32px;
                }
            }
        }
    }
    .slider{
        margin-top:-7px;
        &__item-wrap{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 240px 240px;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-areas: 
            'h1 h2 h2'
            'h1 h3 h4';
        }
        &__item{
       
            &:first-child{
                grid-area: h1;
                position:relative;
            }
            &:last-child {
                grid-area: h4;
              }
              &:nth-child(2) {
                grid-area: h2;
              }
              &:nth-child(3) {
                grid-area: h3;
              }
              .img-cafe{
                  width:100%;
                  height:100%;            
              }
              .full{  
                &-btn{
                    @include size(30px);
                    background-color: $yellow-cl;
                    position: relative;
                }
                  a{
                      display:block;
                      @include absoluteCenter('both');
                      text-align: center;
                    
                  }
              }
           
        }
      
    }
}