.cafewrapper{
    .menu__item-wrap{
        border-bottom:0;
    }
    .intro{
        padding-top:0;
        position:relative;  
        .content{
            @include absoluteCenter('both');
            margin-top:33px;
            padding-bottom:27px;
            .heading{
               h3{
                color:$yellow-cl;
               } 
            }
            .title{
                h2{
                    background-color:transparent;
                    color:$yellow-cl;
                }
            }
            .desc{
                p{
                    strong{
                        color:$white-cl;
                    }
                    color:$white-cl;
                    &::after{
                        background-color:$yellow-cl;
                    }
                    margin-bottom:22px;
                }
            }
            .gallery{
                p{
                    text-transform: uppercase;
                    color:$white-cl;
                    font-family: pr;
                    letter-spacing: 0.2em;
                }
            }
        }
    }
}