.detailswrapper{
    .details{
        &__item-top{
            display:flex;
            justify-content:space-between;
            align-items:center;
            position:relative;
            .name{
                text-transform:uppercase;
            }
            .back-all{
                display:flex;
                align-items:center;
                justify-content: flex-end;
                
            }
            .full-screen{
                display:flex;
                align-items:center;
                justify-content: flex-end;
                position: absolute;
                left:70.5%;
                img{
                    transform: translateX(-10%)
                }

            }
        }
    }
}