
.homewrapper{
    .menu{
        padding-top:45px;
        &__item-wrap{
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-family:pb;
            border-bottom:1px solid $black-cl;
            padding-bottom:20px;
            a{
                color:$black-cl;
            }
            .center{
                &__item{
                    display:flex;
                    align-items: center;
                    margin-left:-60px;
                    li{
                        &:not(first-child){
                            margin-left:60px;
                            width:calc(25% -60px);
                        }
                        
                    }
                }

            }
        }
    }
    .intro{
        text-align:center;
        padding-top:60px;
        .heading{
            max-width:85px;
            margin:0 auto;
        }
        .title{
            font-size:var(--h2-fs);
            font-family: pb;
            line-height:var(--hs-lh);
            letter-spacing: 0.3em;
            text-transform:uppercase;
            margin-top:30px;
            margin-bottom:25px;
            h2{
                display:inline;
                background-color:$yellow-cl;
                color:#525355;
            }
        }
        .desc{
            max-width:770px;
            margin:0 auto;
            p{
                position:relative;
                padding-bottom:53px;
                margin-bottom:45px;
                &::after{
                    content:'';
                    width:324px;
                    height:1px;
                    background-color:$black-cl;
                    @include absoluteCenter(left);
                    bottom:0;
                }
            }
            strong{
                font-family: pb;
                color:#171717;
            }
        }
    }
    .product{
        &-tab{
            text-align:center;

            display:flex;
            align-items:center;
            justify-content:center;
            margin-left:-40px;
            margin-bottom:20px;
            a{
                &:not(first-child){
                    margin-left:40px;
                    color:$black-cl;
                    font-family: pb;
                    text-transform:uppercase;
                    opacity: 0.5;
                }
                &.active{
                   opacity:1;
                }
            }
        }
        &-list{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 20px;
            
        }
        &-image{
            height:0;
            position:relative;
            overflow: hidden;
            padding-bottom:60%;
            img{
                @include midimg;
            }
        }
        &-item{
            margin-bottom:70px;
           
        }
        &-content{
            text-align:center;
        }
        &-title{
            
            p{
                text-transform: uppercase;
                font-family: pb;
                position: relative;
                padding-bottom:5px;
                margin-bottom:10px;
                &::after{
                    content:'';
                    @include size(16px,3px);
                    background-color: $yellow-cl;
                    @include absoluteCenter('left');
                    bottom:0;
                
                }
            }
        }
        &-client,.product-photo,.product-director{
            font-family: pr;
            color:$black-cl;
            span{
                font-style: italic;
            }
        }
        .more-products{
            text-align:center;
            padding-bottom:75px;
            a{
                color:$black-cl;
               text-transform: uppercase;
               font-family: pb;
            }
        }
    }
    .contact{
        
            .contact__item {
              &-wrap{
                // margin-bottom: 22px;    
                padding-left: 20px;
                padding-top: 60px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                border-top: 1px solid $black-cl;
                text-transform:uppercase;
              }
           
             &-left {
                max-width: 249px;
                .info{
                    padding-top:10px;
                }
                .tele{
                    padding-top:50px;
                }
                 
              }
          &-right {
             
                max-width: 255px;
                letter-spacing:0.1em;
                line-height:3.48rem;
              }
             &-mobile {
                display: none;
              }
            }
          }
    
}