
.homewrapper{
    .menu{
        
        &__item-wrap{
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;;
            .center{
                display:flex;

            }
        }
    }
}