.homewrapper {
  .intro {
    @include sm {
      margin-top: 50px;
    }
  }

  .contact {
    @include xs {
      padding-bottom: 50px;
    }
  }
  .product__item-list {
    display: none;
  }
}
