.rentalwrapper{
 
    .intro{
        .rental__item-wrap{
            display:flex;
            .rental-info{
                @include size(260px,640px);
                background-color: $gray-cl;
                display:flex;
                // align-items:center;
                // justify-content:center;
                flex-direction: column;
                .rental__content{
                    margin-top:70px;
                    @include size(120px);
                    background-color: $yellow-cl;
                    margin-left:20px;
                    text-align:center;
                    display:flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content: center;
                    h4{
                        text-transform: uppercase;
                        font-size:pr;
                        line-height:20px;
                    }
                    .number{
                        font-size:61px;
                    
                        margin-top:20px;

                    }
                }
                .rental__info{
                    margin-left:20px;
                    margin-top:30px;
                    h4{
                        color:$white-cl;
                        font-family: pb;
                        font-size:3.2rem;
                        line-height:3.48rem;
                        margin-bottom:13px;

                    }
                    p{
                        color:$white-cl;
                        font-size:14px;
                        font-family: pr;
                        &.heading{
                            font-size:12px;
                            font-family: pr;
                            letter-spacing:0.2em;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .rental-detail{
                margin-left:50px;
                margin-top:75px;
                h3{
                    font-size:28px;
                    text-transform: none;
                    font-family: pb;
                    letter-spacing:0;
                }
                .rental__form{
                    display:grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-column-gap: 78px;
                    .rental__form-item{
                        margin-top:50px;
                        &.--left{
                            form{
                                input{
                                    border:none;
                                    outline:none;
                                    border-bottom:1px solid $black-cl;
                                }
                                input[type="text"] {
                                    width:220px;
                                }
                                input[type="number"] {
                                    width:220px;
                                }
                                .contact{
                                    margin-top:25px;
                                    display:inline-block;
                                }
                                .phone{
                                    margin-top:25px;
                                    display:inline-block;
                                }
                            }
                        }
                        &.--right{
                            form{
                                input{
                                    border:none;
                                    outline:none;
                                    border-bottom:1px solid $black-cl;
                                }
                                input[type="text"] {
                                    width:220px;
                                }
                                input[type="email"] {
                                    width:220px;
                                }
                                .account{
                                    margin-top:25px;
                                    display:inline-block;
                                }
                                .address{
                                    margin-top:25px;
                                    display:inline-block;
                                }
                                textarea{
                                    width:220px;
                                    height:85px;
                                    border:1px solid $black-cl;
                                    resize: none;
                                }
                            }
                        }
                    }
                }
                .rental-bottom{
                    .button-option{
                        display:flex;
                        align-items:center; 
                          margin-left:-20px;
                        .btn-option{
                           
                            button{
                                @include size(40px);
                                border:1px solid $black-cl;
                                outline: none;
                                color:$white-cl;
                                background-color: $black-cl;
                                cursor:pointer;
                                .number{
                                    font-size:24px;
                                    // line-height:102.44px;
                                }
                                &.active{
                                    background-color: $yellow-cl;
                                }
                            }
                            &:not(first-child){
                                margin-left:20px;

                            }
                        }
                    }
                }
            }
        }
    

    }
}