.rentalwrapper{
 
    .intro{
        .rental__item-wrap{
            display:flex;
            .rental-info{
                @include size(260px,640px);
                background-color: $gray-cl;
                display:flex;
                align-items:center;
                flex-direction: column;
            }
        }
    

    }
}