.studioDetailsWrapper{
    .studio-details{
        .details{
            &__top{
                .back-all{
                    display:flex;
                    justify-content:flex-end;
                    .back{
                        margin-left:30px;
                    }
                }
            }
        }
    }
}