.studiowrapper{
    .studio{
        padding-top:60px;
        &__item-wrap{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 20px;
        }
        &__item{
            margin-bottom:70px;
        }
        &-content{
            display:flex;
            align-items:center;
            .content{
                height:120px;
                &.--left{
                    width:121px;
                    background-color:$yellow-cl;
                    text-align: center;
                    .number{
                        font-size:61px;
                        font-family: pb;
                        line-height: 102px;
                    }
                }
                &.--right{
                    display:flex;
                    align-items:center;
                }
            }
            
        }
    }
}