.workwrapper{
    .product{
        padding-top:70px;
    }
    .more-products{
        display:flex;
        justify-content: center;
        align-items:center;c
    
        .btn-book{
            display:flex;
            align-items:stretch;
        }
        
    }
}